<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 style="color:#6610f2">Dashboard</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div>
      </div>
    </div>
  </section>


  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card shadow">
            <div class="card-body">
              <div class="row">

                <div class="col-lg-4">
                  <div class="mt-5">
                    <h2>Welcome <span style="color:#6610f2">Mara Karma</span></h2><br/>
                    <h4>This is Assessment for <br/> Backoffice - Frontend <br/>using Angular technology</h4>
                  </div>
                </div>
                <div class="col-lg-8">
                  <img src="{{imgAdmin2}}" alt="image" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section>

</div>
